{% extends "base.html" %}
{% load static %}
{% block title %}
  Users Page
{% endblock %}
{% block content %}
  <div class="container">
    <h1 class="header"> Get current time from available cities: </h1>
    <form method="get" action="{% url 'pages:city_time_page' %}">
      <label for="city">Choose a city:</label>
      <select name="city">
        {% for city in cities %}
          <option value="{{ city }}" {% if current_city == city %} selected {% endif %}> {{ city }}</option>
        {% endfor %}
      </select>
      <button type="submit">Show the time!</button>
    </form>
    {% if time_now %}
      <h3 class="header"> Time in {{ current_city }}: {{ time_now }} </h3>
    {% endif %}
  </div>
  <style>
    .header {
      text-align: center;
      margin-top: 50px;
    }
    form {
      font-size: 15pt;
      text-align: center;
    }
    button {
      color: white;
      font-size: 13pt;
      background-color: rgb(12, 183, 0);
    }
  </style>
{% endblock %}